# CMake build output
build/

# Compiled objects and static libs
*.o
*.obj
*.a
*.lib
*.lo
*.slo

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out

# Debug info
*.pdb
*.ilk
*.dwo

# Visual Studio
.vs/
*.user

# Precompiled headers
*.gch
*.pch
